/*product*/

.product-item {
  border: 1px solid #eee;
  display: inline-block;
  padding: 5px 15px;
  margin: 5px;
  height: 300px;
}

.product-item img {
  width: 100%;
}


/*cart*/

.cart_img{
	padding: 10px 15px;
}








