.product-item {
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 10px;
  height: 300px;
}

.product-item img {
  max-height: 100px;
  width: 100%;
}

.rproduct-item .caption {
  padding: 10px;
}