/*product*/

.product-item {
  border: 1px solid #eee;
  display: inline-block;
  padding: 5px 15px;
  margin: 5px;
  height: 300px;
}

.product-item img {
  width: 100%;
}


/*cart*/

.cart_img{
	float:left;
	height: auto;
	padding: 10px 15px;
}

.cart_text{
	float:left;
	width: auto;
}

.cart_price{
	float:left;
}

.cart_quant{
	float:right;
}